*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 100%;  
  scroll-behavior: smooth;
}

.home{
  margin:0; 
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
  font-size:  16px;
  line-height: 1.6;
  background:#0E0E0F;
  color:#FFFFFF;
}

img{ 
  max-width: 100%; 
  height: auto; 
  display: block; 
}


 

